<a href="https://colab.research.google.com/github/Arthur-Alluure/Exerciciosfaculpython/blob/Atualizada/Aula_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
print(mochila)

('Mochila', 'Camisa', 'Bacon', 'Abacate')

In [ ]:
print(mochila[0]) #Pirnt do elemento 1- indice 0
print(mochila[2]) #print do elemento 3 - indice 2
print(mochila[0:2]) #Print do elemento 1  2 - elemento 0 e 1
print(mochila[2:]) #print dos elementos a partir do índice 2
print(mochila[-1]) #print do último

Mochila
Bacon
('Mochila', 'Camisa')
('Bacon', 'Abacate')
Abacate

In [ ]:
for count in mochila:
  print('Na minha mochila tem: {}'.format(count))

Na minha mochila tem: Mochila
Na minha mochila tem: Camisa
Na minha mochila tem: Bacon
Na minha mochila tem: Abacate

In [ ]:
tam = len(mochila)
for count in range(0,tam) :
  print('Na minha mochila tem: {}'.format(mochila[count]))

Na minha mochila tem: Mochila
Na minha mochila tem: Camisa
Na minha mochila tem: Bacon
Na minha mochila tem: Abacate

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
upgrade = ('Queijo','Canivete')
mochila_grande = mochila + upgrade

print(mochila)
print(upgrade)
print(mochila_grande)

('Mochila', 'Camisa', 'Bacon', 'Abacate')
('Queijo', 'Canivete')
('Mochila', 'Camisa', 'Bacon', 'Abacate', 'Queijo', 'Canivete')

In [ ]:
mochila_grande_invertida = upgrade + mochila
print(mochila_grande)
print(mochila_grande_invertida)

('Mochila', 'Camisa', 'Bacon', 'Abacate', 'Queijo', 'Canivete')
('Queijo', 'Canivete', 'Mochila', 'Camisa', 'Bacon', 'Abacate')

In [ ]:
def soma (*num) :
  soma = 0
  print('Tupla: {}'.format(num))
  for i in num:
    soma += i
  return soma

print('Resultado: {}'.format(soma(1,2)))
print('Resultado: {}'.format(soma(1,2,3,4,5,6,7,8,9,)))

Tupla: (1, 2)
Resultado: 3
Tupla: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Resultado: 45

In [ ]:
linguagens = ('Rust','TypeScript','Python','Kotlin','Go','Julia','Dart','C#','Swift','JavaScript',)
print('Top 10 linguagens de programação mais amadas de 2020: ')
print('segundo o Stack Overflow')
for i in range(0,len(linguagens)) :
  print(i+1,' -',linguagens[i])

print('')
print('TOP 3: ',linguagens[:3])
print('Últimos 5: ',linguagens[-5:])

count = 0
while (linguagens[count]!= 'Python' ) :
  count +=1
print('Encontramos Python na {} posição!'.format(count+1))

Top 10 linguagens de programação mais amadas de 2020:
segundo o Stack Overflow
1  - Rust
2  - TypeScript
3  - Python
4  - Kotlin
5  - Go
6  - Julia
7  - Dart
8  - C#
9  - Swift
10  - JavaScript

TOP 3:  ('Rust', 'TypeScript', 'Python')
Últimos 5:  ('Julia', 'Dart', 'C#', 'Swift', 'JavaScript')
Encontramos Python na 3 posição!

In [ ]:
def exercicio (mensagem,*num) :  #minha forma de resolver
  maiornumero= 0
  for i in num :
    if i > maiornumero :
      maiornumero = i
  print('{}'.format(mensagem))
  print('{}'.format(maiornumero))


exercicio('O maior numero foi',3,6,7,8,9,56,5,2,62,55,4,3,43,423,42,43,100,33,2,33,22,1,2,3,4,54,)

O maior numero foi
423

In [ ]:
def maior (msg,*num) :
  maior = 0
  for i in range(0,len(num)) :
    if (num[i]>maior) :
      maior = num[i]
  print(msg,maior)


maior('maior numero: ',8,6,6,4,5,5,3,4,5,66,7,8,34,56,564,3,65,4,999,223,1223,4)

maior numero:  1223

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
print('Isso é uma tupla: ',mochila)
mochila = ['Mochila','Camisa','Bacon','Abacate']
print('Isso é uma lista: ',mochila)

Isso é uma tupla:  ('Mochila', 'Camisa', 'Bacon', 'Abacate')
Isso é uma lista:  ['Mochila', 'Camisa', 'Bacon', 'Abacate']

In [ ]:
mochila[2] = 'Laranja' #por ser uma lista posso alterar os dados, aqui estou trocando o indice 2 "bacon" por "laranja"
print('Lista: ',mochila)

Lista:  ['Mochila', 'Camisa', 'Laranja', 'Abacate']

In [ ]:
mochila.append('Ovos')
print(mochila)

['Mochila', 'Canivete', 'Laranja', 'Abacate', 'Ovos', 'Ovos']

In [ ]:
mochila.insert(1,'Canivete')
print(mochila)

['Mochila', 'Canivete', 'Laranja', 'Abacate', 'Ovos']

In [ ]:
del mochila [1]
print(mochila)

['Mochila', 'Laranja', 'Abacate', 'Ovos']

In [ ]:
mochila.remove('Ovos')
print(mochila)

['Mochila', 'Canivete', 'Laranja', 'Abacate']

In [ ]:
x = [5,7,9,11]
y = x[:]
print(x)
print(y)

[5, 7, 9, 11]
[5, 7, 9, 11]

In [ ]:
y[0] = 2
print(x)
print(y)

[5, 7, 9, 11]
[2, 7, 9, 11]

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
print(mochila[0])

Mochila

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
print(mochila[0][0])
print(mochila[2][1])

M
a

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
for item in mochila:   #aqui eu coloca o primeiro contador "item" para entrar em todos os itens da lista
  for letra in item:   #aqui temos o contador "lentra" que vai contar todos os indices individuais dentro de cada item da lista
    print(letra,end='')
  print()

Mochila
Camisa
Bacon
Abacate

In [ ]:
mochila = ('Mochila','Camisa','Bacon','Abacate')
for i in range(0,len(mochila)) :
  for j in range(0,len(mochila[i])) :  #a maneira alternativa de fazer o codigo acima usando range
    print(mochila[i][j], end='')
  print()

Mochila
Camisa
Bacon
Abacate

In [ ]:
item = []   #crio 2 listas vazias
mercado = []

for i in range(3) :
  item.append(input('Digite o nome do item: '))  #adiciono tudo isso a lista item
  item.append(int(input('Digite a quantidade: ')))
  item.append(float(input('Digite o valor: ')))
  mercado.append(item[:]) #aqui eu adiciono uma copia da lista item para o mercado
  item.clear() #e limpo a lista item para começar do 0 com novos itens
print(mercado)

In [ ]:
#forma alternativa

mercado = []  #lista vazia

for i in range(3) :
  nome = input('Digite o nome do item: ')   #crio variaveis correspondentes a cada item
  qnt = int(input('Digite a quantidade: '))
  valor = float(input('Digite o valor: '))
  mercado.append([nome,qnt,valor])  #faço o append dos itens armazenadas nas variaveis para a lista

print(mercado)

print(mercado[0][0][1])  #indexação tripla para acessar um caractere dentro de uma lista sobre lista

Digite o nome do item: Cebola
Digite a quantidade: 2
Digite o valor: 0.99
Digite o nome do item: Tomate
Digite a quantidade: 5
Digite o valor: 0.89
Digite o nome do item: Saco de Arroz
Digite a quantidade: 1
Digite o valor: 5
[['Cebola', 2, 0.99], ['Tomate', 5, 0.89], ['Saco de Arroz', 1, 5.0]]
e

In [ ]:
soma = 0
print('Lista de compras: ')
print('-'*20)
print('Item | quantidade | valor unitário | total do item')
for item in mercado:
  print('{} | {} | {} | {}'.format(item[0],item[1],item[2],item[1]*item[2]))
  soma += item[1]*item[2]
print('-'*20)
print('Total a ser pago: {}'.format(soma))

Lista de compras:
--------------------
Item | quantidade | valor unitário | total do item
Cebola | 2 | 0.99 | 1.98
Tomate | 5 | 0.89 | 4.45
Saco de Arroz | 1 | 5.0 | 5.0
--------------------
Total a ser pago: 11.43

In [ ]:
notas = []
soma = 0
nnotas = 0
try:
  nota = float(input('Digite a nota: '))
  while nota>=0 :
    notas.append(nota)
    soma += nota
    nnotas += 1
    nota = float(input('Digite a nota: '))
except ZeroDivisionError :
  print('Digite uma nota válida: ')


media = soma/nnotas
print(media)
print(notas)

Digite a nota: 5
Digite a nota: 1
Digite a nota: 2
Digite a nota: 0
Digite a nota: -1
2.0
[5.0, 1.0, 2.0, 0.0]

In [ ]:
def sequencial (lista,dado) :
  c = 0
  while c < len(lista) :
    if (lista[c] == dado) :
      return c
    c+=1
  return -1

teste = [3,7,9,1,0,7,5,12]
dado = int(input('Digite um valor inteiro: '))
res = sequencial(teste,dado)
if res >= 0:
  print('Posição onde o {} foi encontrado: {}'.format(dado,res+1))
else:
  print('Dado não localizado')

Digite um valor inteiro: 3
Posição onde o 3 foi encontrado: 1

In [ ]:
pessoas = []
imc = lambda peso, altura: peso / (altura**2)

while True:
  nome = input('nome: ')
  altura = float(input('Altura (m) : '))
  peso = int(input('Peso: '))
  x = imc(peso,altura)
  pessoas.append([nome,peso,altura,x])
  res = input('Deseja fazer mais um cadastro? [S/N]')
  if (res=='n') or (res=='N') :
    break

print('Cadastros: ',pessoas)
print('Total de cadastros: ',len(pessoas))
maior = 0
menor = 99
for i in range(0,len(pessoas)):
  if pessoas [i][3] > maior:
    maior = pessoas[i][3]
  if pessoas[i][3] < menor :
    menor = pessoas [i][3]
print('Maior IMC: ',maior)
print('Menor IMC: ',menor)

nome: arthur
Altura (m) : 1.82
Peso: 77
Deseja fazer mais um cadastro? [S/N]s
nome: rafael
Altura (m) : 1.7
Peso: 80
Deseja fazer mais um cadastro? [S/N]s
nome: liz
Altura (m) : 1.62
Peso: 50
Deseja fazer mais um cadastro? [S/N]n
Cadastros:  [['arthur', 77, 1.82, 23.24598478444632], ['rafael', 80, 1.7, 27.68166089965398], ['liz', 50, 1.62, 19.05197378448407]]
Total de cadastros:  3
Maior IMC:  27.68166089965398
Menor IMC:  19.05197378448407

In [ ]:
numeros = []

for c in range(15):
    numero = int(input('Digite um número: '))
    numeros.append(numero)

print('Lista completo:', numeros)

multiplos_de_10 = []
for i in range(len(numeros)):
    if numeros[i] % 10 == 0:
        multiplos_de_10.append(i)
if multiplos_de_10:
    print('Posições com valores múltiplos de 10:', multiplos_de_10)
else:
    print('Nenhum valor múltiplo de 10 foi encontrado.')

Digite um número: 10
Digite um número: 5
Digite um número: 6
Digite um número: 5
Digite um número: 4
Digite um número: 3
Digite um número: 7
Digite um número: 8
Digite um número: 2
Digite um número: 4
Digite um número: 20
Digite um número: 30
Digite um número: 78
Digite um número: 55
Digite um número: 44
Lista completo: [10, 5, 6, 5, 4, 3, 7, 8, 2, 4, 20, 30, 78, 55, 44]
Posições com valores múltiplos de 10: [0, 10, 11]

In [ ]:
game = {'nome': 'SuperMario','desenvolvedora':'Nintedo','ano':1990}
print(game)

{'nome': 'SuperMario', 'desenvolvedora': 'Nintedo', 'ano': 1990}

In [ ]:
print(game['nome'])
print(game['desenvolvedora'])
print(game['ano'])

SuperMario
Nintedo
1990

In [ ]:
print(game.values())

for i in game.values() :
  print(i)

dict_values(['SuperMario', 'Nintedo', 1990])
SuperMario
Nintedo
1990

In [ ]:
print(game.keys())

for i in game.keys() :
  print(i)

dict_keys(['nome', 'desenvolvedora', 'ano'])
nome
desenvolvedora
ano

In [ ]:
print(game.items())

for i, j in game.items() :
  print('{} = {}'.format(i,j))

dict_items([('nome', 'SuperMario'), ('desenvolvedora', 'Nintedo'), ('ano', 1990)])
nome = SuperMario
desenvolvedora = Nintedo
ano = 1990

In [ ]:
games = []
game1 = {'nome': 'SuperMario','videogame':'snes','ano':1990}
game2 = {'nome': 'Zelda','videogame':'n64','ano':1998}
game3 = {'nome': 'Pokemon','videogame':'gameboy','ano':1999}

games = [game1,game2,game3]
print(games)

[{'nome': 'SuperMario', 'videogame': 'snes', 'ano': 1990}, {'nome': 'Zelda', 'videogame': 'n64', 'ano': 1998}, {'nome': 'Pokemon', 'videogame': 'gameboy', 'ano': 1999}]

In [ ]:
game = {}
games = []

for i in range(3) :
  game['nome'] = input('Qual o nome: ')
  game['videogame'] = input('Console: ')
  game['ano'] = input('Qual o ano de lançamento : ')
  games.append(game.copy()) #quando for inserir dentro de dicionario precisa usar esse comando ao inves de [:]

print('-'*20)
for e in games: #anda na lista
  for i,j in e.items() : #anda dentro do dicionário imprimindo os 2
    print('O campo {} tem o valor {}.'.format(i,j))

Qual o nome: Mario
Console: snes
Qual o ano de lançamento : 1990
Qual o nome: zelda
Console: n64
Qual o ano de lançamento : 1998
Qual o nome: pokemon
Console: gameboy
Qual o ano de lançamento : 1999
--------------------
O campo nome tem o valor Mario.
O campo videogame tem o valor snes.
O campo ano tem o valor 1990.
O campo nome tem o valor zelda.
O campo videogame tem o valor n64.
O campo ano tem o valor 1998.
O campo nome tem o valor pokemon.
O campo videogame tem o valor gameboy.
O campo ano tem o valor 1999.

In [ ]:
games = {'nome': ['Super Mario','Zelda Ocarina of Time','Pokemon Yellow'],'videogame':['SNES','64','GB',],'ano':[1990,1998,1999]}
print(games)

In [ ]:
games = {'nome':[],'videogame':[],'ano':[]}
for i in range(3) >
  nome = input('Nome do jogo: ')
  videogame = input('Console: ')
  ano = input('Qual o ano de lançamento: ')
  games['nome'].append(nome)
  games['videogame'].append(videogame)
  games['ano'].append(ano)

print('-'*20)
print(games)

In [ ]:
alunos = {'nome':[],'media':[],'situação':[]}
somanota = 0
nome = input('Digite o nome do aluno: ')
alunos['nome'].append(nome)
for c in range(3) :
  nota = float(input('Digite a nota: '))
  somanota +=nota

media = somanota/3
alunos['media'].append(media)

if (media >= 7) :
  alunos['situação'].append('aprovado')

elif (media<7) and (media>=5) :
  alunos['situação'].append('em exame')

elif (media<5) :
  alunos['situação'].append('reprovado')


print('Aluno: {}'.format(alunos['nome']))
print('Situação: {}'.format(alunos['situação']))
print('Média: {}'.format(alunos['media']))

Digite o nome do aluno: Arthur
Digite a nota: 5.5
Digite a nota: 8.9
Digite a nota: 4.7
Aluno: ['Arthur']
Situação: ['em exame']
Média: [6.366666666666667]

In [ ]:
loja = {'cenoura': [100, 0.99], 'brocolis': [50, 3.99], 'batata': [200, 0.49], 'cebola': [75, 1.10]}

pedido = []
while True:
    nomeitem = input('Digite o nome do item: ')
    qntditem = int(input('Digite a quantidade: '))
    pedido.append([nomeitem, qntditem])
    res = input('Deseja continuar pedindo: [s/n]')
    if res in 'Nn':
        break

total = 0
print('\nVendas')
for count in pedido:
    produto = count[0]
    qntd = count[1]
    preco = loja[produto][1]
    valorproduto = preco * qntd
    print('{}: {} x {} = {}'.format(produto, qntd, preco, valorproduto))
    loja[produto][0] -= qntd
    total += valorproduto

print('Custo total: {}'.format(total))
print('\nEstoque:')
for produto, (quantidade, preco) in loja.items():
    print('Descrição: ', produto)
    print('Quantidade: ', quantidade)
    print('Preço: {}'.format(preco))

Digite o nome do item: cenoura
Digite a quantidade: 100
Deseja continuar pedindo: [s/n]n

Vendas
cenoura: 100 x 0.99 = 99.0
Custo total: 99.0

Estoque:
Descrição:  cenoura
Quantidade:  0
Preço: 0.99
Descrição:  brocolis
Quantidade:  50
Preço: 3.99
Descrição:  batata
Quantidade:  200
Preço: 0.49
Descrição:  cebola
Quantidade:  75
Preço: 1.1

Um pouco sobre manipulação de strings

In [ ]:
s1 = list('Algoritmos') #transformei algoritmo em uma lista
print(s1)
print(''.join(s1)) #join para fazer o print agrupado

['A', 'l', 'g', 'o', 'r', 'i', 't', 'm', 'o', 's']
Algoritmos

In [ ]:
s1 = 'Lógica de Programação e Algoritmos '
s1.startswith('Lógica')

True

In [ ]:
s1 = ('Lógica de Programação e Algoritmos ')
s1.endswith('algoritmos')

False

In [ ]:
s1 = ('Lógica de Programação e Algoritmos')
s1.lower().endswith('algoritmos')

True

In [ ]:
s1 = ('Lógica de Programação e Algoritmos')
print(s1.upper())
print(s1.lower())

LÓGICA DE PROGRAMAÇÃO E ALGORITMOS
lógica de programação e algoritmos

In [ ]:
s1 = ('Lógica de Programação e Algoritmos')
s1.count('a')
#s1.lower().count('a')

3

In [2]:
s1 = 'Um mafagafinho, dois mafagafinhos, três mafagafinhos...'
s1.split(' ')

['Um', 'mafagafinho,', 'dois', 'mafagafinhos,', 'três', 'mafagafinhos...']

In [4]:
s1 = 'Um mafagafinho, dois mafagafinhos, três mafagafinhos...'
s1.replace('mafagafinho','gatinho',1) #o 1 no final representa quantas vezes eu quero que substitua (opcional)

'Um gatinho, dois mafagafinhos, três mafagafinhos...'

In [10]:
s1 = 'Lógica de Progrmação e Algoritmos'
s2 = '42'
print(s1.isalnum())  #comando isalnum retorna somente letras numeros e acentos (como s1 tem espaçõs ele retorna false)
print(s2.isalnum())


print(s1.isalpha())   #em isalpha somente letras e acentos são aceitos
print(s2.isalpha())

False
True
False
False

In [14]:
x = 5
while x <=25 :
  print(x)
  x += 5

5
10
15
20
25